{% extends 'base.html.twig' %}

{% block title %}Edit Lessen{% endblock %}

{% block body %}
    <h1>Edit Lessen</h1>

    {{ include('lessen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lessen_index') }}">back to list</a>

{#    {{ include('lessen/_delete_form.html.twig') }}#}
{% endblock %}
