{% extends 'base.html.twig' %}

{% block title %}New Lessen{% endblock %}

{% block body %}
    <h1>Create new Lessen</h1>

    {{ include('lessen/_form.html.twig') }}

    <a href="{{ path('lessen_index') }}">back to list</a>
{% endblock %}
