{% extends 'registrerenbase.html.twig' %}


{% block nav %}
    <ul class="navbar-nav" style="text-decoration: underline red">
        <li class="nav-item ">
            <a class="nav-link text-danger"  href="home.html.twig">Home <span class="sr-only ">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="inschrijven.html.twig">Training Aanbod</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="inschrijvingen.html.twig">Lid worden</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="gedragsregel.html.twig" tabindex="-1" aria-disabled="true"><b>Gedragsregels</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="lokatieencontact.html.twig">Lokatie & contact</a>
        </li>
    </ul>
{% endblock %}

{% block body %}

    <div style="margin: 50px 0px 20px 50px; padding: 1px 200px 1px 1px;"  class="border">
        <div style="margin-left: 150px;">
            <h3 >Onze Gedrags regels</h3>
            <br>
            <p>Om gebruik te maken van de lessen moet je biuj ons bekend zijn<br>
                Vul hieronder alle gegevens in en registreer jezelf</p>
            <table>
            <ul>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
            </ul>
            </table>

{% endblock %}