{% extends 'base.html.twig' %}




{% block body %}

    <div style="margin: 50px 0px 20px 50px; padding: 1px 200px 1px 1px;"  class="border">
        <div style="margin-left: 150px;">
            <h3 >Onze Gedrags regels</h3>
            <br>
            <p>Om gebruik te maken van de lessen moet je biuj ons bekend zijn<br>
                Vul hieronder alle gegevens in en registreer jezelf</p>
            <table>
            <ul>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
                <li>
                    hallo
                </li>
            </ul>
            </table>

{% endblock %}