{{ form_start(form) }}
<div style="margin: 50px 0px 20px 50px; padding: 1px 600px 1px 150px;"  class="border">
<h3 >Lid worden</h3>
<br>
<p>Om gebruik te maken van de lessen moet je biuj ons bekend zijn<br>
    Vul hieronder alle gegevens in en registreer jezelf</p>
    {{ form_widget(form) }}

    <div style="margin-left: 1000px;">

    </div>
    <button class="btn btn-warning" style="margin-left: 500px;">{{ button_label|default('Registreer') }}</button>
</div>

{{ form_end(form) }}

