{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}
{% block nav %}
    <ul class="navbar-nav" style="text-decoration: underline red">
        <li class="nav-item ">
            <a class="nav-link text-danger"  href="home.html.twig">Home <span class="sr-only ">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="inschrijven.html.twig">Training Aanbod</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="inschrijvingen.html.twig"><b>Lid worden</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="gedragsregel.html.twig" tabindex="-1" aria-disabled="true">Gedragsregels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="lokatieencontact.html.twig">Lokatie & contact</a>
        </li>
    </ul>
{% endblock %}
{% block body %}


    {{ include('user/_form.html.twig') }}

{#    <a href="{{ path('user_index') }}">back to list</a>#}
{% endblock %}
